@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

html, body{
  margin: 0;
  padding: 0;
}
header {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  color: $gray;
  background: $white;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.main-nav{
  display:flex;
}

#logo {
  padding: 1%;
  color: #232323;
  font-weight: 700;
  font-size: 1.125rem;
  display: flex;
  direction: row;
}
#highlight {
  color: #e83f43;
}
ul {
  padding: 1%;
  margin-left: 80%;
  display: flex;
  direction: row;
}
li{
  display: inline;
  padding: 5%;

}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  color:gray;
}
@media (min-width: $md) {
  nav ul {
    justify-content: flex-end;
  }
}
.image-stack {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.background {
  margin-top: 3%;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 4;
  overflow: hidden;
}
.background img {
  width: 70%;
  padding-left: 25%;
}
.top{
  padding: 3%;
  background-color: white;
  grid-row: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  z-index: 1; // tells the browser to make this image on top
}
.top img{
  width: 100%;
}
.haus-display {
  background-color: #f9f9f9;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 900px){
  .haus-display{
    background-color: #f9f9f9;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px){
  .haus-display{
    background-color: #f9f9f9;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.haus-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0;
  padding: 0;
}
.icon, .info {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.cash {
  margin: 0;
  padding: 0;
  font-family: 'Frank Ruhl Libre', serif;
}
.card {
  --flow-space: 1rem;
  background: #ffffff;
  /*border-radius: 1em;*/
  overflow: visible;
  /*box-shadow: 0 0 20px hsl(0 0% 0% / 10%);*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 30rem;
  margin: 2%;
}
.card__content {
  /*padding 1.5rem;*/
  padding: 1rem;
}
.card h2 {
  /*font-weitht: 900;*/
  font-weight: 400;
  /*font-seize: 1.8rem;*/
  font-size: 1.3rem;
  /*line-heght: 1.1;*/
  line-height: 1.1;
}
.card__media {
  /*aspect-ratio:16/12;*/
  aspect-ratio: 16/12

}
.card__media img{
  overflow: hidden;
}
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

hr {
  border: unset;
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 2%;
}

@supports (aspect-ratio: 16/9) {
  .card__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*object-fit: contain;*/
  }
}

@container (min-width: 40em) {
  .card {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: unset;
  }

  .card h2 {
    font-size: 2.5rem;
  }

  .card__media {
    aspect-ratio: 1/1;
    flex-basis: 30%;
    flex-shrink: 0;
  }

  .card__media img {
    border-radius: 0.5em;
  }

  .card__content {
    padding: 0;
  }
}
.button {
  display: inline-block;
  background: #7794ab;
  color: #000000;
  padding: .5rem 1rem;
  font: inherit;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 0.03ch;
  text-transform: uppercase;
  border-radius: 0.8em;
  margin: 0;
}
.button:hover{
  background-color: #486175;
  color: white;
}
.footer {
  padding: 1%;
  background-color: #262626;
  text-align: center;
}
.contact{
  color: white;
  margin-left: auto;
  margin-right: auto;
}
