@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

html, body {
  margin: 0;
  padding: 0;
}
body{
  background-image: url("livingroom.jpg");
  background-size: 100%;
}
header {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  color: $gray;
  background: $white;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.main-nav{
  display:flex;
}

#logo {
  padding: 1%;
  color: #232323;
  font-weight: 700;
  font-size: 1.125rem;
  display: flex;
  direction: row;
}
#highlight {
  color: #e83f43;
}
ul {
  padding: 1%;
  margin-left: 80%;
  display: flex;
  direction: row;
}
li{
  display: inline;
  padding: 5%;

}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  color:gray;
}
@media (min-width: $md) {
  nav ul {
    justify-content: flex-end;
  }
}
.center{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 20%;
  background-color: #f2f2f2;
  opacity: .9;
}
.footer {
  padding: 1%;
  background-color: #262626;
  text-align: center;
}
.contact{
  color: white;
  margin-left: auto;
  margin-right: auto;
}
