html, body {
  margin: 0;
  padding: 0;
  background-image: url("livingroom.jpg");
}

header {
  background: #7794ab;
  /* background: linear-gradient(-45deg, #7794ab, #e0e0e0); */
}

.main-nav {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

#logo {
  padding: 5%;
}
a {
  text-decoration: none;
  color: black;
  padding: 3%;
}
a:hover{
  background-color: #a6b9c8;
  color: black;
}

li {
    display: inline;
    padding: 5%;
}

ul {
  margin-top: 7%;
  margin-left: 65%;
  }

.center{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 20%;
  background-color: #f2f2f2;
  opacity: .9;
}
.footer {
  padding: 1%;
  background-color: #262626;
  text-align: center;
}
.contact{
  color: white;
  margin-left: auto;
  margin-right: auto;
}
